
<h2><%=@active_player%> attacks <%=@inactive_player%></h2>
<% if @gameover == true%>
<h2><%=@active_player%> has defeated <%=@inactive_player%>!</h2>

<form action="/">
<input type="submit" value="New Game">
</form>
<% else %>
<form action="/play">
<input type="submit" value="Return">
</form>
<% end %>
